body{
background-color: #E9CFEC ;

}

#header{
font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
 color: #2b2b2b;
text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
text-align: center;
}

#div1 {
width: 6%;
height: 12%;
padding: 10px;
border:2px solid #aaaaaa;
}