body{
background-color: #E9CFEC ;

}

#header{
font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
 color: #2b2b2b;
text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
text-align: center;
}

.shelf{
position: absolute;	
top:200px;
left:300px;
}
.jar1{
position:absolute;
top:170px;
left:380px;
}
.jar2{
position:absolute;
top:170px;
left:510px;
}
.jar3{
position:absolute;
top:170px;
left:640px;
}
.jar4{
position:absolute;
top:170px;
left:770px;
}
.jar5{
position:absolute;
top:170px;
left:900px;
}
.jar6{
position:absolute;
top:290px;
left:380px;
}
.jar7{
position:absolute;
top:290px;
left:510px;
}
.jar8{
position:absolute;
top:290px;
left:640px;
}
.jar9{
position:absolute;
top:290px;
left:770px;
}
.jar10{
position:absolute;
top:290px;
left:900px;
}
.jar11{
position:absolute;
top:410px;
left:380px;
}
.jar12{
position:absolute;
top:410px;
left:510px;
}
.jar13{
position:absolute;
top:410px;
left:640px;
}
.jar14{
position:absolute;
top:410px;
left:770px;
}
.jar15{
position:absolute;
top:410px;
left:900px;
}
.add{
position:absolute;
top:40;
left:100px;
}
.back{
position:absolute;
top:40;
left:100px;
}

#assignment{

}

#Home{
font: 100 25px/1.5 'Pacifico', Helvetica, sans-serif;
color: #2b2b2b;
text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
text-align: center;
}












